.banner {
  color: red;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  width: 100%;
  height: 93vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 180s;

  animation: animate 20s linear infinite;
  /* animation-direction: reverse;
  animation-duration: 60s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out; */
}

.banner-about {
  width: 100%;
  height: 60vh;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;

  background-image: url("/static/base/media/black-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 50px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #d0c7af;
  text-shadow: 2px 8px 6px rgba(0,0,0,0.2), 0px -5px 35px rgba(255,255,255,0.3);
}

@keyframes animate{
  0% {
    background-image: url("/static/base/media/banner-img.jpg");
  } 20%{
    background-image: url("/static/base/media/bg2.jpg");
  } 40% {
    background-image: url("/static/base/media/bg3.jpeg");
  } 60% {
    background-image: url("/static/base/media/bg4.jpeg");
  } 80% {
    background-image: url("/static/base/media/bg2.jpg");
  } 100% {
    background-image: url("/static/base/media/banner-img.jpg");
  }
}
