{% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
    <title>NBNJ Limited - Modern Real Estate Company in Bangladesh</title>
    <link rel="icon" type="image/x-icon" href="{% static 'base/media/nbnj-logo-small.png' %}">
  </head>
  <body>

    <div class="banner-about">
      <div class="navbar">
        <div class="navbar-logo">
          <img class="navbar-logo-img" src="{% static 'base/media/nbnj-logo-small.png' %}" alt="NBNJ Limited">
        </div>
        <div class="navbar-hyperlinks">
            <a class='navbar-hyperlinks-inactive' href="{% url 'home' %}">HOME</a>
            <a class='navbar-hyperlinks-active' href="{% url 'about' %}">ABOUT</a>
            <a class='navbar-hyperlinks-inactive' href="">PROJECTS</a>
            <a class='navbar-hyperlinks-inactive' href="">CONTACT</a>
        </div>
      </div>
      <h2 class="title">ABOUT THE COMPANY</h2>
    </div>

    <div class="goal">
      <div class="aboutme-description">
        <h2>GOAL</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</h4>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. iatis unde omnis iste natus error sit voluptatem accusantium doloremque lau fugiat nulla pariatur.</p>
      </div>
    </div>

    <div class="staff">
    </div>

    <div class="aboutme">
      <div class="aboutme-collage">
        <img class="aboutme-collage-img" src="{% static 'base/media/home-aboutme.jpg' %}" alt="">
      </div>
      <div class="aboutme-description">
        <h2>ABOUT</h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</h4>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. iatis unde omnis iste natus error sit voluptatem accusantium doloremque lau fugiat nulla pariatur.</p>
        <a href="#">MORE</a>
      </div>
    </div>

    <footer>
      <p>© 2022 NBNJ Limited | All Rights Reserved</p>
    </footer>

    <script>
      window.addEventListener('scroll', function() {
        var header = document.querySelector('.navbar');
        var header_logo = document.querySelector('.navbar-logo-img')
        var header_links_active = document.querySelector('.navbar-hyperlinks-active')
        var header_links_inactive = document.querySelectorAll('.navbar-hyperlinks-inactive')
        header.classList.toggle('sticky', window.scrollY)
        header_logo.classList.toggle('resized', window.scrollY)
        header_links_active.classList.toggle('underline', window.scrollY)
        for (let i = 0; i < 3; i++) {
          header_links_inactive[i].classList.toggle('inactive-underline', window.scrollY)
        }
      })

      var loader = document.getElementById("preloader");

      window.addEventListener('load', function(){
        loader.style.display = "none"
      })
    </script>
  </body>


</html>
