<!DOCTYPE html>
<html lang="en">

  {% load static %}
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/style.css' %}">
    <title>Nasimul-Z-Rahman</title>
  </head>
  <body>
    <div class="banner">
      <div class="navbar">
        <div class="navbar-logo">
          <img class="navbar-logo-img" src="{% static 'base/media/nbnj-logo-small.png' %}" alt="">
        </div>
        <div class="navbar-hyperlinks">
            <a href="">HOME</a>
            <a href="">ABOUT</a>
            <a href="">PROJECTS</a>
            <a href="">CONTACT</a>
        </div>
    </div>
  </body>


</html>
